* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.feedback-form {
  margin: 50px auto;
  width: 408px;
  padding: 24px;
  border-radius: 8px;
}

.feedback-form label {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.04em;
}

.feedback-form input,
.feedback-form textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  width: 100%;
  margin: 8px 0;
  font-weight: 400;
  padding: 7px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  outline: none;
  border-color: #000;
}

.feedback-form textarea {
  margin-bottom: 16px;
  resize: none;
  max-height: 80px;
}

.feedback-form button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
